.btn-solid-primary {
  min-width: 160px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 600;
  margin: 15px;
  color: #fff;
  cursor: pointer;
  min-height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-solid-primary:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-solid-primary:focus {
  outline: none;
}

.btn-solid-primary.animate {
  background-image: linear-gradient(
    to right,
    #667eea,
    #6c6cdc,
    #6c6cdc,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-solid-secondary {
  min-width: 160px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 600;
  margin: 15px;
  color: #6c6cdc;
  cursor: pointer;
  min-height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-solid-secondary:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-solid-secondary:focus {
  outline: none;
}

.btn-solid-secondary.animate {
  background-color: #ffffff;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-transparent {
  width: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  min-height: 35px;
  text-align: center;
  background-color: transparent;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-transparent:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-transparent:focus {
  outline: none;
}

.btn-transparent.active {
  background-image: linear-gradient(
    to right,
    #667eea,
    #6c6cdc,
    #6c6cdc,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
